@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel Decorative', serif;
  height: 100vh;

}

.container {
  background: linear-gradient(to right, #8a9381, #ddd, #8a9381);
  color: black;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 60px;
  overflow: hidden;
}

.logo-name {
  color: black;
  font-size: 15px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}


  

  #intro-video {
    height: 550px;
    border: white;
    width: 550px;
    object-fit: cover; /* Keeps proportions */
    background: none; /* Ensures transparency */
  }
  
    /* Responsive */
    @media (max-width: 768px) {
      .container p{
        font-size: 3rem;
        font-weight: 900;
      }
      .logo-name{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
      }

    }
    @media (max-width: 468px){
      #intro-video{
        height: 300px;
        width: 300px;
        border: white;

      }
      .container p{
        font-size: 2rem;
      }
    }