@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cinzel', Times, serif;
  height: 100vh;

}



.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #AE866A, #383f45, #AE866A);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  color: #191654;
}

#svg {
  height: 150px;
  width: 150px;
  stroke: white;
  fill-opacity: 0;
  stroke-width: 3px;
  stroke-dasharray: 4500;
  animation: draw 8s ease;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.name-container {
  height: 60px;
  overflow: hidden;
}

.logo-name {
  color: black;
  font-size: 35px;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: bolder;
}


  
.fade-cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

  
    /* Responsive */
    @media (max-width: 768px) {
      .container p{
        font-size: 3rem;
        font-weight: 900;
      }
      .logo-name{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;
      }

    }
